.heading {
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 60px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  color: #5871b1;
}

.brand {
  position: fixed;
  top: 20px;
  left: 30px;
  height: 30px;
  width: auto;
}

.desktopButtonsContainer {
  position: absolute;
  width: 100vw;
  height: 65vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.buttonImage {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
  vertical-align: middle;
}

.noBtnDesktop {
  text-align: left;
  z-index: 99999;
  position: relative;
}

.yesBtnDesktop {
  text-align: right;
  z-index: 99999;
  position: relative;
}