.heading {
  font-size: 20px;
  margin: 30px;
  margin-bottom: 10px;
  margin-top: 80px;
  line-height: 1;
  font-weight: bold;
  /* text-align: center; */
  color: #5871b1;
}

.brand {
  position: fixed;
  top: 20px;
  left: 30px;
  height: 30px;
  width: auto;
}
