.poweredBy {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

.logoText {
  font-size: 12px;
  font-weight: 300;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
