.cardWrapper {
  position: absolute;
  width: 100vw;
  height: 70vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardInner {
  padding: 5px;
  background-color: white;
  max-width: 250px;
  padding: 0 25px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

.text {
  font-size: 30px;
}

.pillbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.red {
  color: #ff4136;
  font-size: 30px;
}

.green {
  color: #2ecc40;
  font-size: 30px;
}
