.Desktop {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    'title title'
    'illustration survey'
    'feedback feedback';
  padding: 32px;
  gap: 32px;
}

.Title {
  grid-area: title;
}

.Illustration {
  grid-area: illustration;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Illustration > svg {
  max-width: 300px;
  width: 100%;
  height: 100%;
}
